.good .diff {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.bad .diff {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0,1;
    -fx-background-radius: 0, 0;
}

.list-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0,1;
    -fx-background-radius: 0, 0;
}


HBox.fields-group {
    -fx-spacing: 2;
    -fx-padding: 5 10;
    -fx-alignment: baseline-left;
}

HBox.fields-group hbox-margin{
    -fx-left: 100px;
}


/* Dialogs */
.dialog {
    -fx-background-color: inherit;
}

/* Items */

#tblItems {
    -fx-padding: 0;
}

/* support styles */

.center {
    -fx-alignment: center;
}


/*   Path      */
.path {
    -fx-alignment: center-left;
    -fx-spacing: 5px;
    -fx-fill-height: true;
}

.path-vendor {
    -fx-alignment: center-left;
    -fx-text-alignment: left;
}

.path-icons {
    -fx-alignment: center;
}

.path-track {
    -fx-padding: 0 8;
    -fx-alignment: center;
}

.path-track .text {
    -fx-font-size: 16pt;
}


.path-track-text {
    -fx-font-size: 7pt;
}

.path-pane {
    -fx-padding: 10;
    -fx-alignment: center-left;
}