.illegal_item {
    -fx-base: red;
}

.illegal_item .bad .diff {
    -fx-fill: white;
}

.good .diff {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.bad .diff {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0,1;
    -fx-background-radius: 0, 0;
}

.list-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0,1;
    -fx-background-radius: 0, 0;
}


HBox.fields-group {
    -fx-spacing: 2;
    -fx-padding: 5 10;
    -fx-alignment: baseline-left;
}

HBox.fields-group hbox-margin{
    -fx-left: 100px;
}


/* Dialogs */
.dialog {
    -fx-background-color: inherit;
}

/* Items */

#tblItems {
    -fx-padding: 0;
}

/* support styles */

.center {
    -fx-alignment: center;
}

.settings-group {
    -fx-font-weight: bold;
}

/*   Path      */
.path {
    -fx-alignment: center-left;
    -fx-spacing: 5px;
    -fx-fill-height: true;
}

.path-system {
    -fx-alignment: center-left;
    -fx-text-alignment: left;
}

.path-text {
    -fx-alignment: center;
}

.path-system-text {
}

.path-station-text {
    -fx-font-size: 8pt;
}

.path-icons {
    -fx-alignment: center;
}

.path-track {
    -fx-padding: 0 8;
    -fx-alignment: center;
}

.path-track .glyph-font {
    -fx-font-family: FontAwesome;
    -fx-font-size: 16pt;
}


.path-track-text {
    -fx-font-size: 7pt;
}

.path-pane {
    -fx-padding: 10;
    -fx-alignment: center-left;
}

/*   Route      */
.route {
    -fx-alignment: top-center;
    -fx-spacing: 5px;
    -fx-fill-height: true;
    -fx-min-width: 200px;
}

.route-entry {
    -fx-min-height: 50px;
    -fx-spacing: 4px;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-fill-width: true;
}

.route-marker {
    -fx-alignment: center-left;
    -fx-padding: 2px;
}

.route-system {
    -fx-alignment: top-left;
    -fx-text-alignment: left;
}

.route-system-text {
    -fx-font-size: 17;
}

.route-station-text {
    -fx-font-size: 14;
}

.route-icons {
    -fx-alignment: top-right;
    -fx-padding: 2px;
}

.route-info {
    -fx-alignment: top-right;
    -fx-font-size: 12;
    -fx-min-width: 60px;
    -fx-max-width: 60px;
}

.route-current-entry {
    -fx-background-color: orange;
}

.route-active {
    -fx-background-color: lightskyblue;
}

/* EditOfferCell */
#items .change {
    -fx-background-color: lightgreen;
}

#items .remove {
    -fx-background-color: lightsalmon;
}

#items .remove .text{
    -fx-strikethrough: true;
}

#items .add {
    -fx-background-color: lightblue;
}

#items HBox.reset {
    -fx-padding: 0 4;
    -fx-alignment: top-right;
}

#items HBox.reset Glyph {
    -fx-opacity: 0.3;
}

#items HBox.reset Glyph:hover {
    -fx-opacity: 1;
}

#helper {
    -fx-border-style: solid;
    -fx-border-color: #b83500;
    -fx-opacity: 0.85;
}

#helper.root {
    -fx-base: black;
    -fx-background: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: -fx-base;

    -fx-light-text-color: orangered;
    -fx-mid-text-color: derive(-fx-light-text-color, -50%);
    -fx-dark-text-color: derive(-fx-light-text-color, -90%);

    -fx-accent: #c93700;

    -fx-default-button: #861818;

    -fx-focus-color: #bb6b00;
    -fx-faint-focus-color: #bb6b0022;
}

#helper .illegal_item {
    -fx-base: darkred;
}

.text-small, .text-medium, .text-big {
    -fx-font-weight: bold;
}

.text-big {
    -fx-font-size: 19;
}

.text-medium {
    -fx-font-size: 14;
}

.text-small {
    -fx-font-size: 12;
}

.service-ok {
    -fx-text-fill: green;
}

.service-warning {
    -fx-text-fill: red;
}

.icon-warning {
    -fx-light-text-color: orange;
    -fx-mid-text-color: orange;
    -fx-dark-text-color: orange;
}

.dragged {
    -fx-base: darkblue;
}